{%load static%}
<html>
    <head>
        <title>Interpret</title>
        <link rel="stylesheet" href="{% static 'home/styles.css' %}">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header-nav">
                <a id="header-logo"> <img src="{% static 'home/logo.png' %}" alt=""></a>
                <a id="header-name">Interpret</a>
                <a href="#about-content" id="about" >About Interpret</a>
            </div>
        </header>

        <div class="whole">
            <br><br>
            <div class='buttons'>
                <a class='swipe-buttons' id="text-swipe" href="{% url 'home:text' %}">Text Translator</a>
                <a class='swipe-buttons' id="sign-swipe" href="{% url 'home:sign' %}">Sign Language Translator</a>
            </div>
            <br>
            <div class="main-container">
                {% block main-container %}
                {% endblock %}
            </div>
        </div>
        <br><br>
        <div id="about-content" class="about-c">
            <br>
            <h1>About Interpret</h1>
            <img style="width: 300px;height: 300px;"  src="/static/home/about1.png">
            <p>
                Language translation is one of the most commonly used application around
                the globe. It makes communication easier for people travelling to
                different places with different culture and language.
                Interpret is a language translator which is used to convert texts and audio to any 
                other languages. It also supports conversion to Sign Language.
            </p>
        </div>

        <footer>
            <br><br><br><br><br>
        </footer>
        {% block script %}
        {% endblock %}
    </body>
</html>

        

